<?php

/*
 * Zabbix login/password for API authentication. Uses only for backend generate auth token.
 * copy this file to <zabbix_path>/secret.php
 */
return [
    'zabbix.login' => 'admin',
    'zabbix.password' => 'zabbix',
];